#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Ferris Wheel Styles */
.ferris-wheel-container {
  position: relative;
  width: 100%;
  height: 60vw;
  max-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel {
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  height: 55vw;
  width: 55vw;
  max-width: 500px;
  max-height: 500px;
  animation-name: wheel;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wheel .line {
  background-color: black;
  width: 50%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
}

.wheel .line:nth-of-type(2) {
  transform: rotate(60deg);
}

.wheel .line:nth-of-type(3) {
  transform: rotate(120deg);
}

.wheel .line:nth-of-type(4) {
  transform: rotate(180deg);
}

.wheel .line:nth-of-type(5) {
  transform: rotate(240deg);
}

.wheel .line:nth-of-type(6) {
  transform: rotate(300deg);
}

.wheel .cabin {
  background-color: red;
  width: 20%;
  height: 20%;
  position: absolute;
  border: 2px solid;
  transform-origin: 50% 0%;
  animation: cabins 10s ease-in-out infinite;
}

.wheel .cabin:nth-of-type(1) {
  right: -8.5%;
  top: 50%;
}

.wheel .cabin:nth-of-type(2) {
  right: 17%;
  top: 93.5%;
}

.wheel .cabin:nth-of-type(3) {
  right: 67%;
  top: 93.5%;
}

.wheel .cabin:nth-of-type(4) {
  left: -8.5%;
  top: 50%;
}

.wheel .cabin:nth-of-type(5) {
  left: 17%;
  top: 7%;
}

.wheel .cabin:nth-of-type(6) {
  right: 17%;
  top: 7%;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cabins {
  0% {
    transform: rotate(0deg);
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: yellow;
  }
  100% {
    transform: rotate(-360deg);
  }
}